apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: pihole
  namespace: pihole
spec:
  replicas: 1
  revisionHistoryLimit: 3

  selector:
    matchLabels:
      app: pihole

  template:
    metadata:
      labels:
        app: pihole
      annotations:
        traffic.sidecar.istio.io/excludeInboundPorts: "53,80,5335,443,80"
        traffic.sidecar.istio.io/excludeOutboundPorts: "53,5335,443,80"

    spec:
      nodeSelector:
        kubernetes.io/hostname: rasppi516   # <==== AQUI LO FORZAMOS
      containers:
        - name: pihole
          image: pihole/pihole:latest
          imagePullPolicy: Always
          securityContext:
            allowPrivilegeEscalation: true
            capabilities:
              add:
                - NET_ADMIN
                - SYS_TIME
          env:
            - name: TZ
              value: "America/Santo_Domingo"
            - name: DNS1
              value: 8.8.8.8
            - name: DNS2
              value: 4.4.4.4
            - name: WEBPASSWORD
              valueFrom:
                secretKeyRef:
                  name: pihole-secret
                  key: WEBPASSWORD
          
          ports:
            - containerPort: 53
              protocol: UDP
            - containerPort: 53
              protocol: TCP
            - containerPort: 80
              protocol: TCP
            - containerPort: 443
              protocol: TCP
          volumeMounts:
            - name: pihole-data
              mountPath: /etc/pihole
            #- name: pihole-dnsmasq
            #  mountPath: /etc/dnsmasq.d
            - name: dnsmasq-custom
              mountPath: /etc/dnsmasq.d
              readOnly: true
          #readinessProbe:
          #  httpGet:
          #    path: /
          #    port: 80
          #  initialDelaySeconds: 15
          #  periodSeconds: 10
          #livenessProbe:
          #  httpGet:
          #    path: /
          #    port: 80
          #  initialDelaySeconds: 30
          #  periodSeconds: 30

      volumes:
        - name: pihole-data
          persistentVolumeClaim:
            claimName: pihole-data
        - name: pihole-dnsmasq
          emptyDir: {}
        - name: dnsmasq-custom
          configMap:
            name: pihole-dnsmasq-custom

  strategy:
    blueGreen:
      activeService: pihole-active
      previewService: pihole-preview
      autoPromotionEnabled: false
      scaleDownDelaySeconds: 30
