apiVersion: security.istio.io/v1beta1
kind: PeerAuthentication
metadata:
  name: pihole-permissive
  namespace: pihole
spec:
  mtls:
    mode: STRICT # PERMISSIVE | STRICT | DISABLE 

---
apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: pihole-active
  namespace: pihole
spec:
  host: pihole-active
  trafficPolicy:
    tls:
      mode: ISTIO_MUTUAL     # DISABLE |  ISTIO_MUTUAL | SIMPLE


---
apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: pihole-preview
  namespace: pihole
spec:
  host: pihole-preview
  trafficPolicy:
    tls:
      mode: ISTIO_MUTUAL     # DISABLE |  ISTIO_MUTUAL | SIMPLE

