apiVersion: v1
kind: Service
metadata:
  name: pihole-active
  namespace: pihole
spec:
  selector:
    app: pihole
  ports:
    - name: dns
      port: 53
      protocol: UDP
    - name: http
      port: 80
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: pihole-preview
  namespace: pihole
spec:
  selector:
    app: pihole
  ports:
    - name: dns
      port: 53
      protocol: UDP
    - name: http
      port: 80
      protocol: TCP
